@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

@import "tailwindcss";

/* Fuente global: Roboto */
:root {
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  font-size: 16px; /* puedes subir a 17 si quieres todo un poco más grande */
}

/* Reset sencillo */
body {
  margin: 0;
}

/* Bebas Neue para títulos / branding */
.font-bebas {
  font-family: "Bebas Neue", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
